$primaryColor: #ddd;
$Dark: #333;
$Light: #fff;
$Shadow: 0 1px 5px rgba(104, 104, 104, 0.8);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body {
	background: #ccc;
	line-height: 2;
	margin: 30px;
}

.btn {
	background: $Dark;
	color: $Light;
	padding: 0.6rem 1.3rem;
	text-decoration: none;
	border: 0;
}

img {
	max-width: 100%;
}

.wrapper {
	display: grid;
	grid-gap: 20px;

	.main-nav {
		background: $primaryColor;
		height: 3rem;
		.navlinks {
			li:nth-child(3) a {
				color: red;
			}
		}
	}

	.main-nav ul {
		list-style: none;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
	}

	.main-nav a {
		text-decoration: none;
		padding: 0.8rem;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Ubuntu', sans-serif;
	}
}

.top-container {
	display: grid;
	grid-gap: 20px;
	grid-template-areas: 'main-display main-display top-box-a' 'main-display main-display top-box-b';
}

.main-display {
	grid-area: main-display;
	min-height: 400px;
	background: url('./images/hills-sky-night-beauty-landscapes-abstract-backgrounds-wallpapers.jpg');
	background-size: cover;
	background-position: center;
	padding: 3rem;
}

.top-box-a {
	grid-area: top-box-a;
}

.top-box-b {
	grid-area: top-box-b;
}

.boxes {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	color: aliceblue;

	.box {
		position: relative;
		box-shadow: $Shadow;
		padding: 10px;
		border-radius: 20px;
		text-align: center;
		background: #111;

		i {
			font-size: 80px;
			color: rgb(45, 182, 57);
		}

		h3 {
			font-size: 40px;
		}
	}
	.box:before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		background: rgba(255, 255, 255, .1);
		border-radius: 20px 0 0 20px; /* (first radius values) / top-left | top-right | bottom-right | bottom-left */
	}
}

.info {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
}

.images {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
}

@media only screen and(min-width:514px)
{
	
	.main-nav a{
		font-size: 15px;
	
	}
	
	
}